.BorTit
  border-left: 5px solid $color-acento-contenido
  padding: 5px 0px 5px 20px
  margin-top: 6px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

.cajon.color-primario
  background-color: #F2D6E3

.bloque-texto-d.color-primario:before 
  background-color: #F2D7E3 !important

.bloque-texto-e.color-acento-contenido 
    background-color: #CBE6FA
